streamlit
pymupdf
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
deep-translator
sentence-transformers
faiss-cpu
pyngrok
langdetect
huggingface-hub
tiktoken
pypdf
speechrecognition
pydub
gTTS


